[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pre-commit = "*"
expects = "*"
pytest-mock = "*"
sphinx = "*"

[packages]
tableschema-sql = {git = "https://github.com/brighthive/tableschema-sql-py.git", editable = true, ref = "v1.3.3"}
psycopg2-binary = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
tableschema = "*"
brighthive-authlib = "*"
flask-swagger-ui = "*"
convert-descriptor-to-swagger = {editable = true,git = "https://github.com/brighthive/convert_descriptor_to_swagger.git",ref = "v0.0.5"}
rsa = "*"
gunicorn = "*"
gevent = "*"
botocore = "*"
jsonschema = "*"
cryptography = ">=3.2"
sqlalchemy-utils = "*"
aws-encryption-sdk = "*"

[requires]
python_version = "3.7"
