[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pre-commit = "*"
expects = "*"
convert-descriptor-to-swagger = {editable = true,path = "./../descriptor-to-swagger"}
pytest-mock = "*"
sphinx = "*"

[packages]
tableschema-sql = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
flask-restful = "*"
tableschema = "*"
brighthive-authlib = "*"
flask-swagger-ui = "*"

[requires]
python_version = "3.7"
